html {margin:0; padding: 0;box-sizing: border-box;}
*, *:after, *:before {box-sizing: inherit;}


@import "variables";
@import "transitions";

body {
  margin:0; padding:0;
  font-family: $font-main;
  //color: white;
  /*background:
radial-gradient(circle, transparent 20%, #222 20%, #222 80%, transparent 80%, transparent),
radial-gradient(circle, transparent 20%, #222 20%, #222 80%, transparent 80%, transparent) 50px 50px,
linear-gradient(#2d2d2d 8px, transparent 8px) 0 -4px,
linear-gradient(90deg, #2d2d2d 8px, transparent 8px) -4px 0;
background-size:100px 100px, 100px 100px, 50px 50px, 50px 1px;*/
//background-color: #222;
background:
  linear-gradient(45deg, #282c34 33.333%, #2d313b 33.333%, #2d313b 66.667%, #282c34 66.667%),
  linear-gradient(-45deg, #282c34 33.333%, #2d313b 33.333%, #2d313b 66.667%, #282c34 66.667%);
background-size: 12px 12px;

}

h1, h2, h3, h4 {
  font-family: $font-special;
  font-weight: normal;
  color: white;
}

img {
  border:0;
  display:block;
  margin: auto;
  width:100%;
  height:auto;
}

.nkl-viewContainer {

  display: flex;
  flex-direction: column;

  @include mq-l{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }


  &__item {
    padding: 2vmin;
  }

}

.nkl-font--special {
  font-family: $font-special;
}

.nkl-button {
  padding: $nkl-s $nkl-l;
  background-color: hsl(191, 62%, 33%);
  color: white;
  font-size: $nkl-m;
  border: none;
  border-radius: $nkl-5xs;
  box-shadow: 0 0 4px 0px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: box-shadow 0.5s ease;
  &:hover {
    //transition: box-shadow 0.5s ease;
    box-shadow: 0 2px 6px 0px rgba(0,0,0,0.3);
  }

  &.small {
    font-size: $nkl-xs;
  }
  &.large {
    font-size: $nkl-xl;
  }
  &.huge {
    font-size: $nkl-xxxl;
  }
}

.zigzag {
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    z-index: -1;

    background:
      linear-gradient(45deg, #666 33.333%, transparent 33.333%, transparent 66.667%, #666 66.667%),
      linear-gradient(-45deg, #666 33.333%, transparent 33.333%, transparent 66.667%, #666 66.667%);
    background-size: 20px 10px;
    background-position: -3px top;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
    height: 100%;
    z-index:-1;

    background:
      linear-gradient(-45deg, transparent 33.333%, #555 33.333%, #555 66.667%, transparent 66.667%),
      linear-gradient(45deg, transparent 33.333%, #555 33.333%, #555 66.667%, transparent 66.667%);
    background-size: 20px 10px;
    //background-position: -3px top;
  }
}
