html {margin:0; padding: 0;box-sizing: border-box;}
*, *:after, *:before {box-sizing: inherit;}
body {margin:0;padding:0;}

@import "variables";

img {
  border:0;
  width:100%;
  height:auto;
}


.nkl-viewContainer {
  
  //background: $red;
  height:100vh;
  
  &--flex {
    display: flex;
    flex-direction: column;
    
    @include mq-m{
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    
  }
  
  &__item {
    padding: 2vmin;
  }
  
}